#loader {
    animation:spin 1s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#a86add;
    border-top-color:#a86add;
    box-sizing:border-box;
    height:20vmin;
    left:calc(50% - 10vmin);
    position:fixed;
    top:calc(50% - 10vmin);
    width:20vmin;
    z-index:1;
}

#loader::before {
    animation:spin 2s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#c785ec;
    border-top-color:#c785ec;
    box-sizing:border-box;
    content:"";
    height:16vmin;
    left:0;
    position:absolute;
    top:0;
    width:16vmin;
}

#loader::after {
    animation:spin 3s infinite linear;
    border:solid 2vmin transparent;
    border-radius:50%;
    border-right-color:#deb7ff;
    border-top-color: #deb7ff;
    box-sizing:border-box;
    content:"";
    height:12vmin;
    left:2vmin;
    position:absolute;
    top:2vmin;
    width:12vmin;
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}

#main {
    padding-top: 18%;
    position: relative;
    animation-name: animatebottom;
    animation-duration: 3s;
}

@keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@font-face {
    font-family: minimalFont;
    src: url(fonts/minimal.otf);
}

body {
    font-family: minimalFont;
}

h1 {
    font-size: 100px;
    color: #a86add;
}

h2 {
    font-size: 50px;
    color: #8549a7;
}